
@(client: com.elogiclab.guardbee.core.ClientApplication, authzCode: String)(implicit request: RequestHeader)

@main(Messages("guardbee.authRequestForm.title")) {
    <div class="page-header">
        <h1>@Messages("guardbee.authRequestForm.title")</h1>
    </div>
    
    <form class="forms" method="post" action="@com.elogiclab.guardbee.utils.RoutesHelper.authz(authzCode).absoluteURL(false)">
    	<input type="hidden" name="authzCode" value="@authzCode">
    	<ul>
    		<li>@Messages("guardbee.authRequestForm.userMessage")</li>
			<li>
			<input type="submit" name="authorize" class="btn" value="@Messages("guardbee.authRequestForm.authorize")">
			<input type="submit" name="unauthorize" class="btn" value="@Messages("guardbee.authRequestForm.unauthorize")">
			</li>    	
    	</ul>
    
    
    </form>
    
    
}
