@(loginForm: Form[controllers.Login])


<link rel="stylesheet" media="screen" href="/assets/stylesheats/main.css">

<section id="top">
    <div class="wrapper">
        <h1>Welcome to GuardBee Web Client Demo</h1>
    </div>
</section>



<div id="content" class="wrapper doc">

        <article>

            <h1>Welcome to the GuardBee Web Client Demo</h1>

			@helper.form(action = routes.Application.login) {
				@helper.inputText(loginForm("auth_uri"))
				@helper.inputText(loginForm("client_id"))
				@helper.inputText(loginForm("client_secret"))
				@helper.inputText(loginForm("token_uri"))
				@helper.inputText(loginForm("scope"))
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">
				Create Product
				</button>
				</div>
			}
        </article>
 
    
</div>
