@(title: String)(body: Html)
<!DOCTYPE html>
<html>

<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@guardbee.utils.RoutesHelper.assetAt("images/favicon.png")'>
    <link rel='stylesheet' href='@guardbee.utils.RoutesHelper.webJarAt(WebJarAssets.locate("bootstrap.min.css"))'>
    <link rel='stylesheet' href='@guardbee.utils.RoutesHelper.webJarAt(WebJarAssets.locate("font-awesome.min.css"))'>
    
    <link rel='stylesheet' href='@guardbee.utils.RoutesHelper.assetAt("stylesheets/index.css")'>
    <script type='text/javascript' src='@guardbee.utils.RoutesHelper.webJarAt(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type='text/javascript' src='@guardbee.utils.RoutesHelper.webJarAt(WebJarAssets.locate("bootstrap.min.js"))'></script>
    <script src='@guardbee.utils.RoutesHelper.assetAt("javascripts/jquery.validate.js")'></script>
</head>
<body>
@body
</body>
</html>